---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import { Image, Picture } from 'astro:assets';

const allPosts = await Astro.glob('../maps/2023/**/*.md');

const frontmatter= allPosts;
const pageTitle = "Minecraft Worlds List";

/* ---experimental img load dynamic */
/* import coverimage from 'frontmatter.cover.src'; */

/* console.log(frontmatter.cover.src); */


---



<Layout title="Maps Index">
	<mapsindexlayout>		
		<section class="container about" aria-label="About the Worlds"> 
			<h1> Maps Overview</h1>
			<h2 class="title">About the Worlds</h2>
			<p class="text">These are diverse Minecraft Landscape for survival, creative, coop, and server adventures made by McMeddon.
				<br><br>Adventure, explore, survive or create, at the most beautiful places in Minecraft and explore all the unique places and structures around the world.
				<br><br>Loot ships, balloons, and conquer dungeons. Build a house on Volcanos, or within huge mountains or survive along the rivers and the woods. Find custom caves, mineshafts, coral reefs, advanced biomes, supporter villages, and more.
				 </p>	
		</section>
		<!-- //display all maps in a list of the folder /maps/  -->
			<!-- {allPosts.map((post) => <li class="posttitles"> <a  href={post.url}> {post.frontmatter.title}</a> </li>)} -->
			

			<!-- ----------------------------------------------------------- -->
			<!-- Working------------------------ -->
			const allPosts = await Astro.glob('../maps/2023/**/*.md');
			<!-- ----------------------------------------------------------- -->

			<ul>
				{allPosts.map((post) => 
					<li class="posttitles">
						<a href={post.url}>
							{post.frontmatter.title}
							{/* <Image src={import(`${coverimage}`)}  alt="image" />  */}
						</a>
					</li>)}
			</ul>

			<!-- ----------------------------------------------------------- -->
			<!-- <ul>
				{allPosts.map((post) => <li class="posttitles"><a href={post.url}><img src={post.frontmatter.cover} alt={post.frontmatter.imagealt}></a></li>)}
			</ul>
			 -->
		
		<maps> 
<ul>
</ul>
		</maps>
	</mapsindexlayout>
</Layout>
<style>


.posttitles {
	list-style: none;
	padding:10px;
}

.posttitles a{
	color:white;
	text-decoration: none;
	font-size:x-large;
	width:100%;
	background-color: #222;
}
.posttitles a:hover{ color:green;}
/* --------------------------------- */
	mapsindexlayout {
		display:grid;
		grid-template-columns: 1fr 2fr;
		}
		
		.container {
			color: var(--text-color);
		}

		ul li {
			color: var(--text-color);
			text-decoration: none;
			list-style-type: none;
			padding: .5em;
			margin-bottom: 1em;
			
		}

		ul li a {
			color: var(--text-color);
			text-decoration: none;
			font-size: 2.5rem;
			background-color: #222;
			padding: 15px;
			border-radius: 50px;
			
		}
		.maplinks {
			

		}
		.maplinks:hover{
			color: var(--accent-color);
			text-decoration: underline;
		}
</style>
