---
import Layout from '../layouts/Layout.astro';
import Herobanner from '../components/Herobanner.astro';
/* import Card from '../components/Card.astro'; */
import Herotext from '../components/Herotext.astro';
import Herovideo from '../components/Herovideo.astro';
import Shelfitem from '../components/Shelfitem.astro';
import AccordionFeatured from '../components/AccordionFeatured.astro';



/* ------------------------------------------- */
/* IMAGE to be imported  */
/* Posts images to be imported  */
import { Image, Picture } from "astro:assets";


// Import posts
const allPosts = await Astro.glob('../../src/pages/map/**/*.md');

// Shuffle posts
function shuffleArray(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
}
shuffleArray(allPosts);

// Transform the post data
const postsWithImagesv1 = await Promise.all(allPosts.map(async (post) => {
    const coverImage = post.frontmatter.coverRelative
      ? (await import(`/src/pages/map${post.frontmatter.coverRelative}`)).default 
      //? (await import(`../../../${post.frontmatter.coverRelative}`)).default 
      : null; // Get the default export from the module

    return {
      url: post.url,
      title: post.frontmatter?.title || null,
      coverImage: coverImage || null, // Store the imported image
      alt: post.frontmatter?.alt || "Post image",
    };
}));

//console.log(post.frontmatter.coverRelative)

export interface Props {
    title: string;
}
const { title } = Astro.props;
---

<Layout title="Homepage">	
	<main>		
		<Herovideo
			src="/videos/g7.mp4">
		</Herovideo>
		<!---------------------------------
		<Herotext
		h1="Advanced Survival Friendly Vanilla Minecraft Landscapes"
		p="">
		</Herotext>-->
		<div class="spacer60"></div>
		<div class="introbannerdiv">
			<Image 
			class="introbanner" 
			src={import(`../images/model.png`)} 
			height={100}
			
			alt=""
			loading="eager"
			decoding="async"
			/>
			
			</div>

		<style>
			.introbannerdiv{
				z-index:9;
				margin-top: 60vh;
				display: grid;
				justify-content: center;
				align-items: center;
			}
			.introbanner{
				display: grid;
				justify-content: center;
				align-items: center;
				object-fit: contain;
				
			}
		</style>

<!-- all featured worlds------------------------------------------------------- -->		
<h4>All Featured Worlds</h4>			
<div class="shelf">
	{postsWithImagesv1.map((post) => (
	<div>
		<a key={post.url} href={post.url}>
		{post.coverImage ? ( 
		  <Shelfitem
			img={post.coverImage} // Resolve the import promise
			url={post.url}
			alt=""
			loading="lazy"
			width="0"
			height="250"
			aspectRatio="16/9"
			formats={["avif"]}
		  />
		  <p>{post.title}</p> 
		) : (
		  <p>oop Image not found</p> 
		  <img src="./fallbackimage"/>
		)}
	  </a>
	</div>
	  
	))}
  </div>
<!-- end -->
<!--------------------- <h4>Featured Projects</h4> -->
		<h4>Featured Projects</h4>
		<div class="shelf">
			<Shelfitem img ={import(`../pages/map/2024/yekalyx/x3.jpg`)}  url="./maps/akonlyx"></Shelfitem>
			<Shelfitem img ={import(`../pages/map/2024/vurotorm/x1.jpg`)}  url="./maps/akonlyx"></Shelfitem>
			<Shelfitem img ={import(`../pages/map/2024/wokokor/x3.jpg`)}  url="./maps/akonlyx"></Shelfitem>
			<Shelfitem img ={import(`../pages/map/2024/xedrimos/a.jpg`)}  url="./maps/akonlyx"></Shelfitem>
			<!-- <Shelfitem img ={import(`../pages/maps/2023/uramaxos/1.jpg`)}  url="./maps/2023/akonlyx"></Shelfitem> -->
		</div>
		<h4>Featured Stories</h4>
		<div class="shelf">
			<Shelfitem img ={import(`../pages/map/2024/yekalyx/x3.jpg`)}  url="#"> <h5>Server S6 Update</h5></Shelfitem>
			<Shelfitem img ={import(`../pages/map/2024/vurotorm/x1.jpg`)}  url="https://www.planetminecraft.com/forums/communities/mapping/mcmeddons-mapmaking-suggestion-sunday-680467/"><h5>Send your Ideas</h5></Shelfitem>
			<Shelfitem img ={import(`../images/mcm-thoughts.jpg`) || null}  url="https://www.planetminecraft.com/member/mcmeddon/wall/"><h5>Latest Thoughts</h5></Shelfitem>
		</div>
			
		<div class="announcements">
			<h4 class="">This looks important ⬇</h4>
			<a href="">
				<Image src={import(`../pages/map/2023/gelazkor/3.png`)} 
				height={600, 1600}
				alt=""
				loading="eager"
				decoding="async"
				
				style=""
				class="shelfi"
				/>
				<style>
					.shelfi, .preview-video {
						min-width:100%; max-height:500px; object-fit:cover;
						position: relative;
						border-radius: 20px;
						box-sizing: border-box;
						border: 4px solid transparent;
						padding: 5px;
						aspect-ratio: 16 / 10 ;
						object-fit:cover;
						height: fit-content;
						
						
						
						}
					.shelfi:hover {
						border: 4px solid white;
						transform: scale(1.01);
						z-index: 99;
						transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
						box-shadow: rgba(0, 0, 0, 0.65) 0px 54px 55px, rgba(0, 0, 0, 0.62) 0px -12px 30px, rgba(0, 0, 0, 0.62) 0px 4px 6px, rgba(0, 0, 0, 0.67) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
						}
				</style>

				<button class="btn btn-link">Server Updates</button>
			</a>
		</div>

		<br>


	</main>
</Layout>

<style>

/*---------------------------------------------- */

	wrapper, .wrapper{ 
	max-width: 100% !important;
	height:auto;
	display: grid;
	grid-template-columns: auto;
	font-size: large;
	font-weight: 400;
	color: #ededed;
	}
	.wrapper img, #demo img {
		border-radius: 25px; 
		border: 1px solid white;
		margin-bottom: .5em; 
		height:auto;
		max-width:100%;
		}

	.contentwrapper{
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 2%;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	
/* ---------------------------------------------- */	

@media (min-width: 600px) {
	h1{
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

/* ---------------------------------------------- */

.shelf{
	max-width: calc(100%-10em)80%;
	display: grid;
  	grid-template-rows: 1fr;
  	/* grid-template-columns: repeat(5, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
	
	gap:0;
	justify-content: center;
	align-items: center;
	
	
}

#nextButton {
  /* Style the next button as needed, e.g. add a chevron icon */
}

</style>

